body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background-color: #282c34;
    box-shadow: 2px 2px 10px black;
}

.logo-wrapper > h1 {
    color: #61dafb;
}

.nav-logo {
    width: 80px;
}

.navbar-list {
    display: inline-flex;
    list-style-type: none;
}

.navbar-list > li {
    display: flex;
    margin-right: 2rem;
    justify-content: end;
    align-items: center;
    color: whitesmoke;
}

.logo-wrapper {
    display: flex;
}

.footer {
    background-color: #282c34;
    color: whitesmoke;
    padding: 10px 0px;
}

.footer > p {
    margin-left: 20px;
}

.container > h1, .container > ul {
    color: whitesmoke;
}

body {
    background-color: #282D35;
}

footer {
    position: fixed;
    bottom: 0;
}

.container {
    padding: 27px 57px;
}

.content-list > li {
    font-size: 1.2em;
}

.content-list > li::marker {
    color: #61dafb;
    font-size: 1.35em;
}

main {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./logo1.png");
    background-repeat: no-repeat;
    background-position: right center;
}
